@CHARSET "ISO-8859-1";



body{
	background-color: #E2D9D9;
}

.titel{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	background-color: #ACAAAA;
	color: white;
	font-size: 25px;

}

.section1{
	float: left;
	width: 48%;
	margin-left: 5px;
	margin-right: 5px;
}

.section2{
	float: left;
	width: 48%;
	margin-left: 5px;
	margin-right: 5px;
}

.section3{
    float: left;
	width: 100%;
}



.content{
	float: left;
	width: 100%;
	height: 40vh;
}

.left{
	float: left;
	width: 50%;
	height: 33vh;
	text-align: left;
	font-size: 20px;
	line-height: 25px;
}

.right{
	float: left;
	width: 50%;
	height: 33vh;
	text-align: left;
	font-size: 20px;
	line-height: 25px;
}


tr:hover{
	background-color: white;
	cursor: pointer;
}

label div:hover{
	background-color: white;
	cursor: pointer;
}



/* 
==========================================================================
			practicum 6.3  responsive design
==========================================================================

 */



table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid white;
    background-color: gray;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}





@media (max-width: 700px) {
	
	.section1{
		float: none;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.section2{
		float: none;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.titel{
		font-size: 15px;
	}
	
	.content{
		width: 100%;
	}
	
	.left{
		height: 25vh;
		font-size: 15px;
	}
	
	.right{
		height: 25vh;
		font-size: 15px;		
	}

	

}



